<div xmlns:th="http://www.thymeleaf.org" th:fragment="adminfragmentusers" class="container mt-4">
    <div class="row">
        <script src="/js/admin/account/clickableRow.js" type="text/javascript"></script>
        <div class="col-9">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Email</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Роль</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" >
                    <th onclick="clickableRow(this.id)" class="clickable-row" th:id="${user.id}" th:text="${user.id}" scope="row">d</th>
                    <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${user.id}" th:text="${user.username}">name</td>
                    <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${user.id}"  th:text="${user.email}">email</td>
                    <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${user.id}"  th:text="${user.status}">status</td>
                    <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${user.id}"  th:text="${user.roles[0].name}">role</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 mt-4">
            <a class="btn btn-outline-success form-control" href="/admin/accountpage/0" id="0"  role="button">Добавить
                пользователя</a>
        </div>
    </div>
</div>