<div xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentadminupdateshop" class="container mt-4">
    <script src="/js/preview.js" type="text/javascript"></script>
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8DVoSaetE4L5HePXjXzNpJCBRar-sIoA&callback=initMap&libraries=places&v=weekly">
    </script>
<!--    <script src="/js/map.js" type="text/javascript"></script>-->
    <form class="" enctype="multipart/form-data" id="update" method="post">
        <div class="row">
            <div class="col-3">
                <div class="mt-3">
                    <img id="img" style="width:100%; height:250px" src="/img/shop/"
                         th:attrappend="src=${shop.img}">
                </div>

                <div class="input-group-append">
                    <label class="  btn btn-outline-success btn-block form-control mt-2" for="imgShop">Выбрать
                        картинку</label>
                    <input class="updateimg" onchange="preview()" style="display: none"
                           type="file" name="file" id="imgShop">
                </div>

                <br>
                <div>
                    <button class="btn btn-outline-danger btn-block form-control deleteImg"
                            onclick="deleteImgPreview('/img/shop/0.png')" type="button">
                        Удалить
                        картинку
                    </button>
                </div>
            </div>

            <div class="col-9">
                <div>
                    <div>
                        <div class="form-floating ">
                            <input class="form-control mt-3" th:value="${shop.id}"
                                   type="text" id="id"
                                   name="id" placeholder="id">
                            <label for="id">Id Магазина</label>
                        </div>
                    </div>
                    <div class="form-floating ">
                        <input class="form-control mt-3" th:value="${shop.userId}" type="text"
                               name="userId" id="userId"
                               placeholder="userId">
                        <label for="userId">Id Аккаунта</label>
                    </div>

                    <div>
                        <div class="form-floating ">
                            <input class="form-control mt-3" th:field="*{shop.title}" th:errorclass="is-invalid"
                                   th:value="${shop.title}" type="text" name="title"
                                   id="title" placeholder="title">
                            <label for="title">Название</label>
                        </div>
                        <div>
                            <p th:if="${#fields.hasErrors('shop.title')}" th:errors="*{shop.title}"></p>
                        </div>
                    </div>
                    <div class="form-floating ">
                        <input class="form-control mt-3" th:value="${shop.description}" id="description" type="text"
                               placeholder="description" name="description">
                        <label for="description">Описание</label>
                    </div>
                    <input class="form-control mt-3" value="0" type="text" placeholder="imgAction"
                           name="imgTypeAction" id="imgTypeAction">
                </div>

                <div class="input-group mt-3">
                    <div class="form-floating">
                        <input class="form-control" th:value="${shop.address}" type="text"
                               placeholder="title"
                               name="address" id="address">
                        <label for="title">Адрес</label>
                    </div>
                    <input class="form-control" id="lat" th:value="${shop.coordLat}" type="text"
                           placeholder="coordLat" name="coordLat">
                    <input class="form-control" id="lng" th:value="${shop.coordLng}" type="text"
                           placeholder="coordLng" name="coordLng">

                    <div class="input-group-append ">
                        <button class="btn btn-outline-secondary select" data-bs-toggle="modal"
                                data-bs-target="#addressShopModel" type="button">Выбрать
                        </button>
                    </div>
                </div>

                <div>
                    <input class="form-control mt-3" th:value="${shop.status}" type="text" placeholder="status"
                           name="status">

                    <input class="form-control mt-3" th:value="${shop.img}" type="text"
                           placeholder="com.svinogr.flier.img"
                           name="img">
                    <div class="form-floating">
                        <input class="form-control mt-3" th:value="${shop.url}" type="text" placeholder="url"
                               id="url" name="url">
                        <label for="url">Сайт</label>
                    </div>
                    <input class="btn btn-outline-primary form-control mt-4" type="submit" value="Сохранить">
                    <input hidden="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <a href="/admin/shop/shoppage/"   th:if="${shop.id} != 0 and ${shop.status} != 'NON_ACTIVE'" class="btn btn-outline-danger form-control mt-4"
               th:attrappend="href=${shop.id}+'/delete'" >Удалить</a>
        </div>
        <div></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <a th:if="${shop.status == 'NON_ACTIVE'}" href="/admin/shop/shoppage/" class="btn btn-outline-danger form-control mt-4" id="restore"
               th:attrappend="href=${shop.id}+'/restore'"
            >Востановить</a>
        </div>
        <div></div>
    </div>

    <!--&lt;!&ndash; Modal &ndash;&gt;
    <div class="modal fade" id="addressShopModel" tabindex="-1" aria-labelledby="addressShopModelLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressShopModelLabel">Отметить адрес</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="input-group-append">

                            <div class="input-group">
                                <input type="text" class="form-control" id="searchAddress"> <br>
                            </div>
                        </div>
                        <br>
                        <div id="map" style="height: 300px; width: 300px; color: #005cbf"></div>
                        <script async
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8DVoSaetE4L5HePXjXzNpJCBRar-sIoA&callback=initMap&libraries=places&v=weekly">
                        </script>

                    </div>
                    <script src="/js/map.js" type="text/javascript"></script>
                 &lt;!&ndash;   <script>
                        google.maps.event.addDomListener(window, 'load', myautocomplete);
                    </script>&ndash;&gt;
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="setAddress()" data-bs-dismiss="modal"> Ok
                    </button>
                </div>
            </div>
        </div>
    </div>-->
</div>


