<div xmlns:th="http://www.thymeleaf.org" th:fragment="user" class="container mt-4">
    <div class="row justify-content-md-center mt-4 mb-3">
      <!-- <h1 th:text="${_csrf.token}"></h1>-->
        <div class="col-6 ">
            <form class="" id="update" th:action="${user.id}"  method="post">
                <input hidden="hidden" class="form-control" th:value="${user.id}" type="text" name="id" placeholder="name">
                <input class="form-control" th:value="${user.username}" type="text" name="username" placeholder="name">
                <input class="form-control mt-3" th:value="${user.email}"type="text" placeholder="email" name="email">
                <input class="form-control mt-3" type="text" placeholder="password" name="password">
                <input class="btn btn-outline-primary form-control mt-4" type="submit" value="Сохранить">
                <input hidden="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>
            <form class="" id="update" action="del/" th:attrappend="action=${user.id}"  method="post">
                <input hidden="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input th:if="${user.id} != null" type="submit" class="btn btn-outline-danger form-control mt-4"  value="Удалить">
            </form>
        </div>
    </div>
</div>