<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="admin/common/head::head">
</head>
<body>
<nav th:replace="admin/common/menu::menu">
</nav>
<div class="container mt-4">
    <div class="row">
        <section th:replace="fragmentaccount::fragmentaccount"/>
        <section th:replace="fragmentaccountshops::fragmentaccountshops"/>
    </div>
        <section th:replace="fragmentpagination::fragmentpagination"/>
    <div th:replace="/admin/common/footer::footer"></div>
</div>
</body>
</html>