<div class="col-3" xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentaccount">
    <h4>Профиль:</h4>
    <brr/>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">ID: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.id}" type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">Телефон: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.phone}"  type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">Имя: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.name}" type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">Фамилия: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.surname}" type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">Логин: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.username}" type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">Статус: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.status}" type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <span class="text-muted">Email: </span>
        </div>
        <div class="col-6">
            <span th:text="${user.email}" type="text"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/account/accountpage/" th:attrappend="href=${user.id} +'/update'"
               class="btn btn-outline-success form-control mt-4"
            >Изменить</a>
        </div>
    </div>
</div>

