<div xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentaccountshops" class=" col-9 mt-4">
    <script> $(document).ready(function () {
        $(".clickable-row").click(function () {
            var id = $(this).prop("id");
            window.location.href = "/shop/shoppage/" + id;
        });

        $(".searhById").click(function () {
            var id = $(".searchValue").prop("value");
            window.location.href = "/shop/shops/" + id + "search";
        });

    });
    </script>
    <h4>Магазины</h4>
    <brr/>
    <div class="row">
        <div class="col-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#active-tab"
                       aria-current="page">Активные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#unactive-tab"
                       aria-current="page">Неактивные</a>
                </li>
            </ul>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="active-tab">
                    <div class="">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Картинка</th>
                                <th scope="col">Название</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Адрес</th>
                                <th scope="col">Широта</th>
                                <th scope="col">Долгота</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Сайт</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="shop : ${shops}" th:if="${shop.status}
                            == 'ACTIVE'">
                                <th class="clickable-row" th:id="${shop.id}" th:text="${shop.id}" scope="row">d</th>
                                <th class="clickable-row" th:id="${shop.id}" scope="row"><img
                                        style="width: 50px;height: 50px"
                                        src="/img/shop/"
                                        th:attrappend="src=${shop.img}">
                                </th>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.title}">title</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.description}">description
                                </td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.address}">address</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.coordLat}">lat</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.coordLng}">lng</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.status}">status</td>
                                <td class="clickable-row" th:id="${shop.id}">
                                    <a href="//" th:attrappend="href=${shop.url}">Сайт</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="tab-pane fade" id="unactive-tab">
                    <div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Картинка</th>
                                <th scope="col">Название</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Адрес</th>
                                <th scope="col">Широта</th>
                                <th scope="col">Долгота</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Сайт</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="shop : ${shops}" th:if="${shop.status}
                            == 'NON_ACTIVE'">
                                <th class="clickable-row" th:id="${shop.id}" th:text="${shop.id}" scope="row">d</th>
                                <th class="clickable-row" th:id="${shop.id}" scope="row"><img
                                        style="width: 50px;height: 50px"
                                        src="/img/shop/"
                                        th:attrappend="src=${shop.img}">
                                </th>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.title}">title</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.description}">description
                                </td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.address}">address</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.coordLat}">lat</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.coordLng}">lng</td>
                                <td class="clickable-row" th:id="${shop.id}" th:text="${shop.status}">status</td>
                                <td class="clickable-row" th:id="${shop.id}">
                                    <a href="//" th:attrappend="href=${shop.url}">Сайт</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-3 mt-4">
            <div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control searchValue" placeholder="Поиск по ID"
                           aria-label="Поиск по ID">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searhById" type="button" id="button-addon2">
                            Найти
                        </button>
                    </div>
                </div>
            </div>
            <a href="/shop/shoppage/0/update" class="btn btn-outline-success form-control" role="button">Добавить
                Магазин</a>

        </div>
    </div>
</div>