<div xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentshoppagestocks" class="col-9">
  <!--  <script> $(document).ready(function () {
        $(".clickable-row").click(function () {
            var id = $(this).prop("id");
            window.location.href = "/shop/shoppage/" + [[${shop.id}]] + "/stockpage/" + id;
        });
    });
    </script>-->
    <script src="/js/stock/clickableRow.js" type="text/javascript"></script>
    <script src="/js/stock/search.js" type="text/javascript"></script>
    <h4>Акции магазина:</h4> <br>
    <div class="row">
        <div class="col-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#active-tab"
                       aria-current="page">Активные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#unactive-tab"
                       aria-current="page">Неактивные</a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="active-tab">
                    <div class="">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Картинка</th>
                                <th scope="col">Название</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Сайт</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="stock : ${stocks}" th:if="${stock.status}
                                    == 'ACTIVE'">
                                <th onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.id}" scope="row">id</th>
                                <th onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" scope="row"><img
                                        style="width: 50px;height: 50px" src="/img/stock/"
                                        th:attrappend="src=${stock.img}">
                                </th>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.title}">title</td>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.description}">description
                                </td>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.status}">status</td>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}">
                                    <a href="//" th:attrappend="href=${stock.url}">Сайт</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="unactive-tab">
                    <div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Картинка</th>
                                <th scope="col">Название</th>
                                <th scope="col">Описание</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Сайт</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="stock : ${stocks}"  th:if="${stock.status}
                                    == 'NON_ACTIVE'">
                                <th onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.id}" scope="row">id</th>
                                <th onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" scope="row"><img
                                        style="width: 50px;height: 50px" src="/img/stock/"
                                        th:attrappend="src=${stock.img}">
                                </th>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.title}">title</td>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.description}">description
                                </td>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}" th:text="${stock.status}">status</td>
                                <td onclick="clickableRow(this.id)" class="clickable-row" th:id="${stock.id}">
                                    <a href="//" th:attrappend="href=${stock.url}">Сайт</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchId" id="searchId">
                    <label class="form-check-label" for="searchId">
                        по ID
                    </label>
                </div>
            </div>
            <div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control searchValue" placeholder="Поиск по ID"
                           aria-label="Поиск по ID">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searhById" type="button" id="button-addon2">
                            Найти
                        </button>
                    </div>
                </div>
            </div>
            <a th:with="shopId=${shop.id}" th:href="'/shop/shoppage/' + ${shopId} + '/stockpage/0'"
               class="btn btn-outline-success form-control">Добавить акцию</a>
        </div>
    </div>
</div>
