<div th:if="${pages}" class="row" xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentpagination">
    <script> $(document).ready(function () {
        $(".pageclick").click(function () {
            var url = document.URL;
            var page = $(this).prop("id");
            alert(url);
            var newUrl;

            if (url.includes("?")) {
                alert(1);
                if (url.includes("page")){
                    newUrl = replaceQueryParam("page", page, url)
                } else {
                    newUrl = url + "&page=" + page;
                }


            }else {
                alert(2);
/*
                if (url.includes("page")){
                    alert(21);

                    newUrl = replaceQueryParam("page", page, url)
                } else {
                    alert(22);

                    newUrl = url + "?page=" + page;
                }*/
                newUrl = url + "?page=" + page;
            }

            alert(newUrl);


            window.location.href = newUrl;
        });

        function replaceQueryParam(param, newval, search) {
            var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
            var query = search.replace(regex, "$1").replace(/&$/, '');

            return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
        }
    });
    </script>
    <div class="col-3"></div>
    <div class="col-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a th:if="${pages.currentPage &gt; 3}" class="page-link pageclick" th:id="1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a th:if="${pages.currentPage &gt; 1}" class="page-link pageclick" th:id="${pages.currentPage} - 1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a th:if="${pages.currentPage &gt; 3}" class="page-link" th:id="${pages.currentPage} - 1" aria-label="Previous">
                        <span aria-hidden="true">&hellip;</span>
                    </a>
                </li>
                <li  class="page-item" th:classappend="${pages.currentPage == state.current ? 'active' : ''}"
                    th:each="page, state : ${#numbers.sequence(1, (pages.pages ))}">
<!--
                    <a th:if="(${pages.currentPage - state.current } &lt; 3  and ${state.current - pages.currentPage} &lt; 3) or ${pages.currentPage} ==  1 or ${pages.currentPage} == 2 or ${pages.currentPage == pages.pages}" class="page-link pageclick" th:id="${state.current}" aria-current="page" th:text="${state.current}"></a>
-->
                    <a th:if="(${pages.currentPage - state.current } &lt; 3  and ${state.current - pages.currentPage} &lt; 3)" class="page-link pageclick" th:id="${state.current}" aria-current="page" th:text="${state.current}"></a>

                </li>

                <li class="page-item">
                    <a th:if="${pages.pages - pages.currentPage &gt; 2}" class="page-link" th:id="${pages.currentPage} - 1" aria-label="Previous">
                        <span aria-hidden="true">&hellip;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a th:if="${pages.currentPage &lt; pages.pages}" th:id="${pages.currentPage} + 1" class="page-link pageclick" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a th:if="${pages.pages &gt; 6}" class="page-link pageclick" th:id="${pages.pages}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-3"></div>
</div>


