<div th:if="${pages}" xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentpagination" class="">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" th:each="page : ${#numbers.sequence(0,10)}">
         <!--   <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>-->
            <li class="page-item"><a class="page-link" href="/" th:attrappend="href=${page}">1</a></li>
          <!--  <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>-->
        </ul>
    </nav>
</div>