<div xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentshoppagestocks" class="col-9">
    <h4>Акции магазина</h4> <br>
    <div class="row">
        <div class="col-9">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Картинка</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Статус</th>
            <th scope="col">Сайт</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stock : ${stocks}">
            <th class="clickable-row" th:id="${stock.id}" th:text="${stock.id}" scope="row">id</th>
            <th class="clickable-row" th:id="${stock.id}" scope="row"><img
                    style="width: 50px;height: 50px" src="/img/stock/"
                    th:attrappend="src=${stock.img}">
            </th>
            <td class="clickable-row" th:id="${stock.id}" th:text="${stock.title}">title</td>
            <td class="clickable-row" th:id="${stock.id}" th:text="${stock.description}">description
            </td>
            <td class="clickable-row" th:id="${stock.id}" th:text="${stock.status}">status</td>
            <td class="clickable-row" th:id="${stock.id}">
                <a href="//" th:attrappend="href=${stock.url}">Сайт</a>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
        <div th:if="${admin}" class="col-3 mt-4">
            <a   th:with="shopId=${shop.id}" th:href="'/shop/shoppage/' + ${shopId} + '/stockpage/0'"
                 class="btn btn-outline-success form-control">Добавить акцию</a>
        </div>
        <div th:unless="${admin}"  class="col-3 mt-4">
            <a   th:with="shopId=${shop.id}" th:href="'/shop/shoppage' + ${shopId} + '/stockpage/0'"
                 class="btn btn-outline-success form-control">Добавить акцию</a>
        </div>
</div>

