<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="head::head">

</head>

<body>
<nav th:insert="menu::menu">
</nav>
<div class="container mt-4">
    <div class="row justify-content-md-center mt-4 mb-3">
        <section th:replace="fragmentaccount::fragmentaccount"/>
        <div class="col-9">
            <section th:replace="fragmentshops.html::fragmentshops"/>
        </div>
    </div>
</div>
<footer th:insert="footer::footer"></footer>
</body>
</html>