<div class="col-3 mt-5" xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentaccount">
    <h4 th:text="${user.id}" type="text"></h4>
    <h4 th:text="${user.phone}" type="text"></h4>
    <h4 th:text="${user.name}" type="text"></h4>
    <h4 th:text="${user.surname}" type="text"></h4>

    <h4 th:text="${user.username}" type="text"></h4>
    <h4 th:text="${user.status}" type="text"></h4>
    <h4 th:text="${user.email}" type="text"></h4>
    <a href="/account/" th:attrappend="href=${user.id}" class="btn btn-outline-danger form-control mt-4"
    >Изменить</a>
</div>

