<div class="col-3 mt-5" xmlns:th="http://www.thymeleaf.org" th:fragment="fragmentaccount">
    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">ID: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.id}" type="text"></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">Телефон: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.phone}"  type="text"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">Имя: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.name}" type="text"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">Фамилия: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.surname}" type="text"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">Логин: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.username}" type="text"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">Статус: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.status}" type="text"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-muted">Email: </h4>
        </div>
        <div class="col-6">
            <h4 th:text="${user.email}" type="text"></h4>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <a href="/account/accountpage/" th:attrappend="href=${user.id} +'/update'"
               class="btn btn-outline-danger form-control mt-4"
            >Изменить</a>
        </div>
    </div>
</div>

