<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" type="text/css">

    <script src="/webjars/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/popper.js/2.9.2/umd/popper.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"  type="text/javascript" ></script>
</head>
<body>
<div class="container">

    <div class="row justify-content-md-center mt-4 mb-3">
        <div class="col-6 ">
            <form class="" id="login_form" action="" method="post">
                <input class="form-control" type="text" placeholder="email" name="email">
                <input class="form-control mt-3" type="text" placeholder="password" name="password">

            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-3">
            <button class="btn btn-outline-success login form-control" id="login">Войти</button>
        </div>
        <div class="col-3">
            <a class="btn btn-outline-success form-control" href="/account/register" role="button">Зарегистрироваться</a>
        </div>

    </div>
</div>
</body>
</html>